/*Menu*/
.navbar {
  background-color: #689F38;
  font-size: 18px;
}

.nav-link {
  color: white;
  padding: 8px;
}

.navbar .nav-item .active {
  color: white;
  font-weight: bold;
  background-color: #8BC34A;
  border-radius: 10px;
  
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

/* Boton iniciar */
@media screen and (max-width: 767px) {
    .btn-iniciar {
      background-color: brown;
    }
  }

  .div-iniciar {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .a {
    text-decoration:none
  }

/* Principal */
.principal {

  background-color: white;
  color: black;
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .img-fluid {
    width: 40%;
  }
}

.div-registro{
  background-image: url('/img/fondo_registro.png');
  opacity: 0.5;
}

.nosotros {
  background-color: rgba(255, 228, 196, 0.267);
  font-size: 20px;
}

.ficha {
  background-color: rgba(0, 255, 255, 0.112);
  font-size: 18px;
}

h4 {
  background-color: #DCEDC8;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Pie de pagina */
.pie {
  height: 150px;
  background-color: #DCEDC8;
  color: black;
  font-size: 18px;
}